<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Streaming</title>
    <link rel="stylesheet" href="/static/css/home/style.css">
</head>
<body>
    <h1>Video Streaming from Go Server</h1>

    <div id="video-container">
        <ul id="videoList">
            <li><a href="/videos-dep/sample.mp4">Video A</a></li>
            <li><a href="/videos-dep/sample-2.mp4">Video B</a></li>
        </ul>

    </div>
    
</body>
</html>